In [1]:
#Add matplotlib inline magic command 
%matplotlib inline

#Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
#Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [6]:
#Read files into pandas
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [7]:
#Inspect the city data
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [11]:
#Check driver_count column integer type
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [13]:
#Get the unique values of the type of city
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [15]:
#Get the number of data points from the Urban cities
sum(city_data_df["type"]=="Urban")

66

In [18]:
sum(city_data_df["type"]=="Suburban")

36

In [17]:
sum(city_data_df["type"]=="Rural")

18

In [19]:
#Inspect the ride data
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [20]:
#Check data types for ride data
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [21]:
#Merge the dataframes
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
#Show new dataframe
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban